/*  your css code here. If applicable */
body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  text-align: center;
}

ol, ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

strong, em {
  font-weight: bold;
  font-style: italic;
}